body {
  background-color: black;
  font-family: sans-serif;
  padding-bottom: 200 px;
}

input {
   line-height: 2.5em;
 }

#root {
  padding: 50px;
}

.searchbar {
  margin-bottom: 50px;
}

.gifs {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 10px;
  -moz-column-count: 5;
  -moz-column-gap: 10px;
  column-count: 5;
  column-gap: 10px;  
}

.gif {
  width: 100% !important;
  height: auto !important;
  margin: 10px auto;
}
